version: "3.9"

services:
  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    ports:
      - "${RABBITMQ_PORT}:5672"
      - "${RABBITMQ_MANAGEMENT_PORT}:15672"
    environment:
      RABBITMQ_DEFAULT_USER: ${RABBITMQ_USER}
      RABBITMQ_DEFAULT_PASS: ${RABBITMQ_PASS}
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq
    networks:
      - notification_net

  redis:
    image: redis:7-alpine
    container_name: redis
    ports:
      - "6379:6379"
    networks:
      - notification_net

<<<<<<< Updated upstream

=======
<<<<<<< Updated upstream
=======

  email-service:
    build: ./email-service
    container_name: email-service
    ports:
      - "8100:8080"
    env_file:
      - .env
    depends_on:
      - rabbitmq
      - redis
    networks:
      - notification_net

  template-service:
    build: ./template-service
    container_name: template-service
    ports:
      - "8200:8080"
    env_file:
      - .env
    depends_on:
      - rabbitmq
      - redis
    networks:
      - notification_net

>>>>>>> Stashed changes
>>>>>>> Stashed changes
  api-gateway:
    build: ./api-gateway
    container_name: api-gateway
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - rabbitmq
      - redis
    networks:
      - notification_net

  user-service:
    build: ./user-service
    container_name: user-service
    ports:
      - "8001:8001"
    env_file:
      - .env
    depends_on:
      - postgres
      - rabbitmq
      - redis
    networks:
      - notification_net

  push-service:
    build: ./push-service
    container_name: push-service
    ports:
      - "8081:8081"
    env_file:
      - ./push-service/.env
    environment:
      - POSTGRES_HOST=postgres
      - POSTGRES_USER=pushuser
      - POSTGRES_PASSWORD=pushpass
      - POSTGRES_DB=pushdb
      - REDIS_HOST=redis
      - REDIS_PASSWORD=
      - RABBITMQ_HOST=rabbitmq
      - RABBITMQ_USER=guest
      - RABBITMQ_PASS=guest
    depends_on:
      rabbitmq:
        condition: service_healthy
      redis:
        condition: service_healthy
      postgres:
        condition: service_healthy
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8081/api/health"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s
    networks:
      - notification_net


volumes:
  rabbitmq_data:

networks:
  notification_net:
    driver: bridge
